:root {
    --primary-font: 'IBM Plex Sans', sans-serif;
    --accent-font: 'Merriweather', serif;
    --accessible-font: 'Atkinson Hyperlegible', sans-serif;
}
body {
    font-family: var(--primary-font);
    line-height: 1.6;
    font-size: 1.125rem; 
    background-color: #FFFFFF;
    color: #00274C;
    padding: 1.5rem;
}
.skip-link {
    position: absolute;
    top: -40px;
    left: 1rem;
    background: #00274C;
    color: #FFFFFF;
    padding: 0.5rem;
    text-decoration: none;
    z-index: 100;
    transition: top 0.3s ease;
    border-radius: 0.25rem;
}
.skip-link:focus {
    top: 10px; 
    outline: none; 
    border: 2px solid #FFFFFF; 
}
nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    list-style: none;
    background: #FFCB05;
    padding: 1rem;
    text-align: center;
}
nav ul li a {
    font-family: var(--accessible-font);
    color: #00274C;
    text-decoration: none;
    font-size: 1.25rem; 
    padding: 0.75rem;
    display: inline-block;
    border-radius: 0.25rem;
}
nav ul li a.active {
    font-weight: bold;
    border: 2px solid #00274C;
    background: #FFFFFF;
}
main {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1.5rem;
    background: #FFFFFF;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.1);
}
h1 {
    font-family: var(--accent-font);
    font-size: 2.5rem; 
    line-height: 1.2;
    margin-bottom: 1.5rem;
}
h2 {
    font-family: var(--accent-font);
    font-size: 2rem; 
    margin-bottom: 1rem;
}
h3 {
    font-family: var(--accent-font);
    font-size: 1.75rem; 
    margin-bottom: 0.75rem;
}
p, ol, ul {
    font-size: 1.25rem; 
    line-height: 1.6;
    margin-bottom: 1rem;
}
.image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1rem; 
    align-items: center; 
    justify-items: center; 
}
.image-container img {
    width: 100%; 
    height: auto;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
footer {
    font-family: var(--accessible-font);
    margin-top: 1rem;
    text-align: center;
    padding: 1rem;
    background: #00274C;
    color: #FFFFFF;
    border-radius: 0.5rem;
    font-size: 1rem; 
}
footer a {
    color: #FFCB05;
}
footer a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
